/*----General---*/
*{
    margin:0px;
    padding:0px;
    border:0px;
}

/*----Estilos tipograficos----*/

/* font-family: 'Marcellus', serif;
font-family: 'Noto Serif', serif;
font-family: 'Raleway', sans-serif; */

        /*-----Navegacion-----*/
header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 0.5fr;
    gap: 1em;
    background-color: rgb(70, 67, 67);
    }

 .header__logo{
    grid-column: 1 / 3;
    margin: 1em auto;
    padding: 30px;
    border: 10px;
    width: 100%;
 }

.header__logo__link{
    grid-column: 1 / 3;
    margin: 1em auto;
    padding: 30px;
    border: 10px;
    width: 100%;
    transition: all 0.5s ease;
}


.header__navegacion{
    grid-column: 1 / 5;
    grid-row: 2;
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.header__navegacion .header__listaPrincipal{    
    padding: 0px;
}

.header__navegacion .header__listaPrincipal a{    
    margin: 5px;
    border: 5px;
    padding: 0px;
    transition: all 0.5s ease;
}

.header__listaSecundaria{
    grid-column: 4 / 7;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: white;
    padding: 30px;
    margin: 30px;
    border: 20px;
    font-family: 'Raleway', sans-serif;
}

.header__listaSecundaria li{
    padding: 5px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    background-color: rgb(70, 67, 67);
}

.main__textoPrincipal{
    display: flex;
    align-items: center;
    font-family: 'Marcellus', serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    height: 100px;
    padding: 20px;
    }

.main__presentacion{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
    text-align: top;
    color: white;
    padding-left: 25px;
    margin-top: 10px;
}

.carousel-item{
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}

    /*-----Cuerpo-----*/

/*----Cuerpo INDEX---*/

body{
    background-color: rgb(233, 227, 218);
}

#bullets {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    gap: 1%;
    background-color: white;
}

.bullet1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    border-left: 20px;
}

.bullet2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding: 10px;
    border-left: 10px;
}

.bullets__imagenenvio{
    border-radius: 50%;
    padding: 30px;
}

.bullets__imagenenvio2{
    border-radius: 50%;
    padding: 30px;
}

.bullets__parrafoenvio{
    grid-column: 2 / 3;
    width: 60%;
}

.bullets__parrafoenvio2{
    grid-column: 4 / 5;
    width: 60%;
}

#categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6em;
    width: 90%;
    max-width: 1800px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    padding: 60px;
    margin: 1.6em auto;
    font-size: 20px;
}

.categoriasprod{
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.categoriasprod a{
    transition: all 0.5s ease;
}

/*----Cuerpo Productos---*/

#header__productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em;
    width: 80%;
    margin: 1em auto;
}

.header__productos__listado{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(70, 67, 67);
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    border: 5px;
    border-style:ridge;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.header__productos__listado i{
    padding: 5px;
    margin: 10px;
}

.header__productos__listado a{
    transition: all 0.3s ease;
    width: 80%;
}

/*----Cuerpo Items---*/

#producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 1em;
    padding: 1.6em auto;
}

.producto__presentacion{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em auto;
    margin-top: 80px;
}

.producto__presentacion input{
    transition: all 0.3s ease;
}

.producto__presentacion img{
    width: 60%;
    padding: 1em auto;
}

.producto__titulo{
    color: rgb(70, 67, 67);
    font-weight: bold;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

.botoncompra{
    background-color: rgb(250, 165, 9);
    width: 600px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: rgb(70, 67, 67);
}

.producto__descripcion{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 80px;
    font-size: 22px;
}

.producto__descripcion__relacionados{
    padding-left: 35px;
    margin: 5px;
    border: 5px;
}

#item__productos__relacionados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
    padding: 50% auto;
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

/*---Cuerpo nosotros---*/

#nosotros__laEmpresa img{
    width: 100%;
    height: auto;
}

#nosotros__socios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 0.1fr;
    gap: 2em 0;
    font-family: 'Raleway';
}

.socios1{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    background-color: white;
}

.socios2{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    background-color: white;
}

.socios1 img{
    border-radius: 50%;
    padding: 10px;
    margin: 30px;
}

.socios2 img{
    border-radius: 50%;
    padding: 10px;
    margin: 30px;
}

.socios__parrafo1{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    font-size: 22px;
}

.socios__parrafo2{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    font-size: 22px;
}


/*---Cuerpo FAQS---*/

.faqs{
    display: grid;
    grid-template-columns: 8fr;

    gap: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 50px;
    font-size: 22px;
    height: 800px;
}

          /*----Pie-----*/

#footer{ 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgb(197, 197, 197);
}

.footer__logo{
    margin: 40px;
    align-self: flex-start;
}

.footer__enlacesInternos{
    list-style:none;
    padding: 0px;
    margin: 20px;
}

.footer__enlacesInternos li{
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: rgb(197, 197, 197);
}


/*----Redes----*/

.footer__enlacesredes{
    align-self: flex-end;
    list-style: none;
    color: rgb(0, 0, 0);
    padding: 0px;
    border: 0px;
    margin: 60px;
    font-size:x-large;
    background-color: rgb(197, 197, 197);
}

.footer__enlacesredes a{
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
}

/*-------Pseudo clases-------*/

.footer__enlacesredes a:visited {
    color:rgb(0, 0, 0);
}

.header__listaPrincipal a:visited {
    color: rgb(255, 255, 255);
}

.header__listaPrincipal a:hover{
    cursor: pointer;
    color: black;
    background: white;
}

.categoriasprod a:hover {
    scale: 110%;
}

.header__logo__link:hover{
    scale: 102%;
}

.header__productos__listado:hover{
    cursor: pointer;
    color: black;
    background: white;
}

.header__productos__listado a:hover {
    scale: 102%;
}

.producto__presentacion input:hover {
    scale: 105%;
}

/*-----Media Queries-----------*/

@media (max-width: 768px){

    #header{
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem 0;
        grid-template-rows: repeat(3, 80px);
        height: 300px;
        width: 100%;
    }

    .header__logo{
        grid-column: 2/5;
        padding: 1rem 0;
        max-height: 100px;
    }

    .header__listaSecundaria{
        grid-column:3/6; 
        grid-row: 3;
        padding: 5px;
        margin: 5px;
        border: 10px;
    }

    .header__navegacion{
        grid-column: 1/-1;
        font-size: larger;
    }

    main{
        grid-template-columns: 1fr;
        gap: 2rem 0;
        grid-template-rows: 1fr 1fr;
        height: 20rem;
        border: 10px;
    }

    .main__textoPrincipal{
        font-size: 80px;
        padding: 5px;
    }

    #bullets{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem 0;
        margin: 0px;
    }

    .bullet1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .bullet2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #categorias{
        display: grid
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,1fr);
        gap: 5rem;
    }

    .categoriasprod{
        grid-column: 1/-1;
    }

    #footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__enlacesredes a{
        padding: 5px;
        margin: 5px;
        border: 5px;
    }

    .socios__parrafo1{
        font-size: 20px;
    }

    .socios__parrafo2{
        font-size: 20px;
    }

}